
@{
    ViewData["Title"] = "Test";
}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Zapisz się na wizytę</h1>
        </div>
        <div class="col-4 offset-4">
            <form method="post" asp-controller="Visit" asp-action="Create">
                <div class="form-group row">
                    <label for="doctor" class="col-sm-3 col-form-label">Lekarz</label>
                    <select name="number" class="form-control col-9" id="doctor">
                        @foreach (var doc in Model)
                        {
                            <option value="@doc.id">@doc.surname @doc.name</option>
                        }
                    </select>
                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-3 col-form-label">Wybierz dzień</label>
                    <input type="date" id="date" name="trip-start"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")"
                           min="2018-01-01" max="2018-12-31" />
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>