
@{
    ViewData["Title"] = "Wizyty";
}

<h1>Twoje wizyty</h1>

<table class="table">
    <caption>Twoje wizyty</caption>
    <thead>
        <tr class="bg-primary text-white">
            <th scope="col">Doktor</th>
            <th scope="col">Dzień</th>
            <th scope="col">Godzina</th>
            <th scope="col">Przełóż</th>
            <th scope="col">Odwołaj</th>
        </tr>
    </thead>
    @foreach (var visit in Model)
    {
        <tr class="bg-dark text-white">
            <td>@visit.doctor</td>
            <td>26.11.2019</td>
            <td>8:30</td>
            <td><button class="btn"><i class="fa fa-calendar" style="color: white;"></i></button></td>
            <td><button class="btn"><i class="fa fa-trash" style="color: white;"></i></button></td>
        </tr>
    }
</table>