
@{
    ViewData["Title"] = "Wizyty";
}

<h1>Twoje wizyty</h1>

<table class="table">
    <caption>Twoje wizyty</caption>
    <thead>
        <tr class="bg-primary text-white">
            <th scope="col">Doktor</th>
            <th scope="col">Dzień</th>
            <th scope="col">Godzina</th>
            <th scope="col">Przełóż</th>
            <th scope="col">Odwołaj</th>
        </tr>
    </thead>
    <tr class="bg-dark text-white">
        <td>Grabowski</td>
        <td>26.11.2019</td>
        <td>8:30</td>
        <td><button class="btn"><i class="fa fa-calendar" style="color: white;"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash" style="color: white;"></i></button></td>
    </tr>
    <tr class="bg-dark text-white">
        <td>Grabowski</td>
        <td>03.01.2020</td>
        <td>11:00</td>
        <td><button class="btn"><i class="fa fa-calendar" style="color: white;"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash" style="color: white;"></i></button></td>
    </tr>
    <tr class="bg-dark text-white">
        <td>Gawrych</td>
        <td>12.12.2019</td>
        <td>13:00</td>
        <td><button class="btn"><i class="fa fa-calendar" style="color: white;"></i></button></td>
        <td><button class="btn"><i class="fa fa-trash" style="color: white;"></i></button></td>
    </tr>
</table>